



<div class="flex w-36 p-2 justify-center gap-2 items-center rounded bg-gray-800

text-white flex-col">
<div class="flex-1 flex items-center justify-center ">
<img class="w-3/4 rounded-md" src=<%=cropimage %>>
</div>
<div class="flex items-center justify-center  gap-2">

<a href="/crop/<%=cropname%>" class="text-blue-300" >
           <%=cropname   %>

</a>
<a href="/cropup/<%=cropname%>" >
<svg class="h-4 w-4 text-red-500"  viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M9 7 h-3a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-3" />  <path d="M9 15h3l8.5 -8.5a1.5 1.5 0 0 0 -3 -3l-8.5 8.5v3" />  <line x1="16" y1="5" x2="19" y2="8" /></svg>

</a>

<a href="/cropdel/<%=cropname%>" >
<svg class="h-4 w-4 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">  <polyline points="3 6 5 6 21 6" />  <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />  <line x1="10" y1="11" x2="10" y2="17" />  <line x1="14" y1="11" x2="14" y2="17" /></svg>
</a>
</div>
</div>

